.gameBoard {
    display: flex;
    justify-content: center;
    line-height: 0;
    margin-bottom: 20px;
}

.zero, .one, .two, .three, .four {
    flex: 1;
}

.inventory {
    display: flex;
    flex-direction: row;
    justify-content: center;
}